* {
	box-sizing: border-box;
}

.flex{
	display: flex;
	
}

.justify-between{
	justify-content: space-between;
}

.items-center{
	align-items: center;
}

.w-full{
	width: 100%;
}

.border{
	border: 1px solid white;
}

.border-radius{
	border-radius: 4px;
}

.p-0{
	padding: 0;
}

.p-1{
	padding: 8px;
}

.m-0{
	margin: 0;
}

.mb-1{
	margin-bottom: 8px;
}

.cursor-pointer{
	cursor: pointer;
}

.input-texto {
  width: 400px;
}