* {
    padding: 0px;
    margin: 0px;
}
header {
    grid-area: header;
    background-color: rgb(53, 69, 70);
    height: 65px;
    

}


body {
  background-color: rgb(255, 255, 255);
Display: grid;
grid-template-areas: 'header header header'
'main main main'
'main main main'
'main main main'
'footer footer footer';

min-height: 100vh;

}


.imghead {
  background-image: url(https://i.pinimg.com/originals/c7/a8/94/c7a894548fadf5be91a871df62cb0823.jpg);
  float: right;
background-size: cover;
height: 100%;
width: 10%;
max-width: 8vh;
min-width: 8vh;
}


p {
  text-align: center;
  font-size: medium;

}

h1 {
    text-align: center;
    font-size:x-large;
    padding-top: 5%;
    color: rgb(201, 148, 148);
}

h2 {
    text-align: left;
    border: none;
    
    
}

main {grid-area: main;
    background-color: rgb(255, 255, 255);
    grid-template-rows: main main main;
}

footer {
    grid-area: footer;
    background-color: rgba(204, 202, 202, 0.308);
    height: 10%;
}


#jumbotron {
  background-image: url(https://static.wixstatic.com/media/cb1dd5_beebfeb454fb49198ff1638fd498f027~mv2.jpg/v1/fill/w_640,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cb1dd5_beebfeb454fb49198ff1638fd498f027~mv2.jpg);
  min-width: 10vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 200vh;
    background-color: aliceblue;
    height: 300px;

}

@media (max-width: 767px) {
#jumbotron {
  background-image: url(https://static.wixstatic.com/media/cb1dd5_beebfeb454fb49198ff1638fd498f027~mv2.jpg/v1/fill/w_640,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cb1dd5_beebfeb454fb49198ff1638fd498f027~mv2.jpg);
  min-width: 10vh;
  background-size: cover;
  background-repeat: no-repeat;
  
    background-color: aliceblue;
    height: 300px;
    padding-left: 30%;
  }

}



#blog {
    background-color: rgba(77, 75, 75, 0.884);
    height: 300px;
    gap:calc(10px) 20px;
    padding: 40px;
    padding-right: 20px;
    align-items: center;
    max-width: 100%;
    max-height: 1300vh;
    justify-content: center;

    

}

@media (max-width: 425px){
  #blog {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap:calc(10px) 20px;
    padding: 40px;
    padding-right: 20px;
    align-items: center;
    max-width: 100%;
    max-height: 1300vh;
    justify-content: center;
  }
}

#adicional {
  background: rgb(170, 170, 170);
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: solid;
}

/*#adicional p{
  color: white;
  width: 49%;
  height: 80%;
  padding: 10% 5% 10% 5%;


}*/




.articleblog { 
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding-left: 2%;
    padding-right: 2%;
    transition:0.5s;
    height:80px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 3%;
    border: solid;
    border-width: 0px;
}

.jumbopad {
  padding-top: 4%;
  color: rgb(250, 250, 250);
}

.email {
  padding-left: 40%;
  padding-top: 2%;
}

.h1blog {
  border: solid;
}

.img1 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvCyNx3g2_MFEuW4N1tdwqHb3bFSdjEys6KvSvZy1c15HaaK1GaEjhCr3Pcfz8lrz7DKU&usqp=CAU);
  background-size:cover;  
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 200px;
    background-color: grey;
    border-radius: 5%;   
}

.img2 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw2TZu1tr4VcvYI2GFW7z0qS0HmkmzYjvyAA&usqp=CAU);
  background-size:cover;  
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
    height: 100px;
    background-color: grey;
    box-shadow: #000000;
    border-radius: 5%;   
    
}

.img3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSKXuSt5WxMrXYFpROcCGPgQzeS5WNL6gr2A&usqp=CAU);
  background-size:cover;  
  background-position: center;
  background-repeat: no-repeat;  
  width: 200px;
    height: 100px;
    background-color: grey;
    border-radius: 5%;   
    
}



.caption {
    display: block;
    color: black;
    font-style: italic;
    font-weight: 100px;
    font-size: medium;
} 



#blog article {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);

}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 50%;
}


#menuToggle
{
  display: block;
  position:relative;
  padding-top: 10px;
  padding-bottom: -50px;
  left: 1px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

.input {
    text-align: center;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: -5px;
  
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  
  background: #949393;
  border-radius: 0px;

  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate( -4px, -2px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: relative;
  width: 50px;
  height:min-content;
  margin: -120px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 100px;
  
  background: #bdbbbb59;
  opacity: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.medias {
  padding-bottom: 10%;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#919191;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:767px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -70px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}